/* GENERAL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    cursor: pointer;
    list-style: none;
}

span {
    cursor: pointer;
}


.todo-container {
    background-color: lightgray;
    border-radius: 10px;
}

.todoLine {
    text-decoration: line-through;
}